header{
  color: white;
  text-align: center;
  font-size:48px;
  font-style: italic;
  font-weight: bold;
}

#back{
  background-image: url("https://wallpapercave.com/wp/pEeUsp1.jpg");
  padding: 30px;
  padding-bottom: 70px;
}
